<style>h1{color:#e91e63;line-height:6rem;display:inline-block;vertical-align:bottom;padding-left:0.5rem;margin:0;}img{width:6rem;display:inline-block;}</style>
<div>
    <img src="https://static.1cf.co/img/infini.png">
	<h1>INFINI</h1>
	<p>
	<strong>INFINI</strong> stands for
	<strong>IN</strong>love In<strong>fini</strong>
	</p>
	<h2>Setup Notice</h2>
	<p>To run this program, you need to set the following variables in functions.php:</p>
	<ul>
		<li>INFINI_MYSQL_HOST : host for mysql database</li>
		<li>INFINI_MYSQL_PORT : port for mysql database</li>
		<li>INFINI_MYSQL_USER : user name for mysql database</li>
		<li>INFINI_MYSQL_DATABASE : database name for mysql database</li>
		<li>INFINI_MYSQL_PASSWORD : password for mysql database</li>
		<li>INFINI_SALT : 8 char key for SHA1 encrypt</li>
		<li>INFINI_EMAIL_DOMAIN : legal domain for email</li>
		<li>INFINI_DOMAIN : domain for INFINI BackEnd</li>
	</ul>

	<h2>Special Thanks</h2>
	<ul>
		<li><a href="https://github.com/SpeedPHP/speed">SpeedPHP</a></li>
		<li><a href="https://github.com/wkii/utils/">UTILS</a></li>
	</ul>
	
	<h2>Downloads</h2>
	<a href="https://static.1cf.co/app/infini/1.0.4.apk" target="_blank">Android Version 1.0.4</a>
	
	<h2>Specifications</h2>
	<a href="https://static.1cf.co/pdf/infini.pdf" target="_blank">README</a>
</div>
